homeassistant:
  # Customization file
  customize: !include customize.yaml
  
  packages: !include_dir_named packages

default_config:

# Redirect output to Synology NAS Maria DB
recorder:
  db_url: !secret recorder_db_url
  purge_keep_days: 3

#system health component
system_health: 

# Enables the frontend
frontend:

mobile_app:

# Enables configuration UI
config:

http:
  # api_password: !secret http_password
  # base_url: example.duckdns.org:8123
  # ssl_certificate: /ssl/fullchain.pem
  # ssl_key: /ssl/privkey.pem
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

history:

logbook:

sun:

sensor: !include sensors.yaml
# sensor: !include sensors-integration.yaml
template: !include_dir_merge_list templates/
# template: 
#   - sensor: !include template.yaml
#   - binary_sensor: !include template_binary_sensors.yaml
#binary_sensor: !include binary_sensors.yaml
#mqtt: !include mqtt.yaml
mqtt: !include_dir_list mqtt/
utility_meter: !include sensors_utility.yaml

rest_command: !include rest.yaml
# zwave:
#  usb_path: /dev/ttyACM0
#  network_key: !secret zwave_networkkey
#  device_config: !include zwave_device_config.yaml
#  device_config_glob:
#     "sensor.*_exporting*":
#      ignored: true
#     "sensor.*_sourcenodeid*":
#      ignored: true

# Text to speech
tts:
  platform: google_translate
  language: 'sv'

# Cloud
cloud:

switch:
  platform: tellstick

group: !include groups.yaml
notify: !include groups_notify.yaml
automation: !include automations.yaml
script: !include scripts.yaml

python_script:

# NEXA / Tellstick DUO
tellstick:
  host: core-tellstick
  port: [50800, 50801]
  signal_repetitions: 3
  
device_tracker: !include device_tracker.yaml 

google_assistant: !include gassistant.yaml
  
#google:
#  client_id: 406236313752-db7bm79q1n3v77s4cf5j9qfvv7961tic.apps.googleusercontent.com
#  client_secret: !secret gcal_api

# deprecated...
# landroid_cloud:
#   - email: rickard@nord.cc
#     password: !secret worx_password
    
var: !include vars.yaml

# logger:
#   default: error|warning|info|debug
#   logs:
#     custom_components.peaqev: debug
logger:
  default: error
  # logs: 
  #   zigpy: debug
  #   zigpy.quirks: debug
  #   zhaquirks: debug
  #   homeassistant.components.zha: debug
    # homeassistant.components.rest: debug
    # homeassistant.components.modbus: debug
    # pymodbus: debug


# modbus for a TCP connection
modbus: !include modbus.yaml

# Zigbee Home Assistant
zha:
  custom_quirks_path: custom_zha_quirks
  database_path: /config/zigbee.db 
  enable_quirks: true
  zigpy_config:
    ota:
      ikea_provider: true
      ledvance_provider: true
      salus_provider: true
      # inovelli_provider: true
      thirdreality_provider: true
      enabled: true
      z2m_remote_index: https://raw.githubusercontent.com/Koenkk/zigbee-OTA/master/index.json
      otau_directory: /config/zigpy_ota
      allow_advanced_ota_dir: I understand I can *destroy* my devices by enabling OTA
        updates from files. Some OTA updates can be mistakenly applied to the
        wrong device, breaking it. I am consciously using this at my own risk.
      advanced_ota_dir: /config/zigpy_ota

zha_toolkit: